<div class="ae-grid au-pt-2">
    <div class="ae-grid__item--alt item-lg-4 photo-content">
        <img src="assets/img/me.jpg" alt="Mariano Gomez 'MargoDev' " class="photo">
    </div>
    <div class="ae-grid__item--alt item-lg-6">
        <h4 class="ae-u-bolder"> {{ myInfo.info.name }} </h4>
        <p>{{ myInfo.info.summary }}</p>
    </div>
</div>
<div class="ae-grid au-pt-2">
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Mi objetivo</h6>
        <p class="au-lh-3">{{ myInfo.info.targets }}</p>
    </div>
    
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Que me define </h6>
        <p class="au-lh-3">{{ myInfo.info.skills }}</p>
    </div>
    
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Hobbies</h6>
        <p class="au-lh-3">{{ myInfo.info.hobbies }}</p>
    </div>
</div>

