<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">

    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a [href]="myInfo.info.fb" target="_blank" class="rk-social-btn ">
        <img src="assets/img/fb.png" alt="Facebook">
      </a>
      <a [href]="myInfo.info.in" target="_blank" class="rk-social-btn ">
        <img src="assets/img/in.png" alt="LinkedIn">
      </a>
      <a [href]="myInfo.info.tw" target="_blank" class="rk-social-btn ">
        <img src="assets/img/tw.png" alt="Twitter">
      </a>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact ">
        <span class="ae-u-bold">Email: </span>
        <span class="ae-u-bolder">
          <a href="mailto:{{myInfo.info.email}}" class="rk-dark-color ">mariano.gzibz@gmail.com</a>
        </span>
      </p>
      <!-- 
        footer based in template URKU by pixeden
        <p class="rk-footer__text rk-footer__by">Theme by <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a></p> 
      -->
    </div>
  </div>
</footer>